<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../controle/calculo.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="../public/css/digital.css" rel="stylesheet" />
    <title>CALCULO DE ETIQUETA</title>
</head>

 
<body>

    <div id="corpo">

        <h3 class="cabecalho">Impressora Digital<br>Cálculo de Etiqueta</h3>

        <form class="radios">
            <div class="tipoMaterial" onclick="radioMaterial()">
                <input class="semBranco" type="radio" name="material" value="1" checked> COUCHE
                <input class="semBranco" type="radio" name="material" value="2"> COUCHE S2045</br>
                <input class="semBranco" type="radio" name="material" value="3"> BOPP FOSCO/BRILHO
                <input class="semBranco" type="radio" name="material" value="4"> BOPP FOSCO C2075</br>
                <input class="semBranco" type="radio" name="material" value="5"> BOPP BRILHO C2075
                <input class="semBranco" type="radio" name="material" value="6"> VINIL</br>
                <input id="brancoPrata" type="radio" name="material" value="7"> BOPP PRATA/OURO
                <input id="brancoTransp" type="radio" name="material" value="8"> BOPP TRANSPARENTE
            </div>
            <div id="branco" style="display: none;">
                <input class="comBranco" type="radio" name="matBranco" value="9"> Impressão 100% Branco
                <input class="comBranco" type="radio" name="matBranco" value="10"> Impressão Com Fundo Branco
                <input class="comBranco" type="radio" name="matBranco" value="11"> Impressão Sem Branco
            </div>
        </form>

        <form class="options">
            <select id="tipoMaterialOptions" onchange="optionMaterial()">
                <option name="opMaterial" value="1"> COUCHE </option>
                <option name="opMaterial" value="2"> COUCHE S2045</option>
                <option name="opMaterial" value="3"> BOPP FOSCO/BRILHO</option>
                <option name="opMaterial" value="4"> BOPP FOSCO C2075</option>
                <option name="opMaterial" value="5"> BOPP BRILHO C2075</option>
                <option name="opMaterial" value="6"> VINIL</option>
                <option name="opMaterial" value="7"> BOPP PRATA/OURO</option>
                <option name="opMaterial" value="8"> BOPP TRANSPARENTE</option>
            </select>
            <select id="brancoOptions" style="display: none;">
                <option name="branco" name="opMaterial" value="9"> Impressão Sem Branco</option>
                <option name="branco" name="opMaterial" value="10"> Impressão 100% Branco</option>
                <option name="branco" name="opMaterial" value="11"> Impressão Com Fundo Branco</option>
            </select>
        </form>

        <div class="txtQuantidade">
            <h2>Quantidade de Etiquetas</h2>
            <input id="quantidadeEtq" placeholder="Mín. 100 etiqs." type="number" min="100" max="10000">
        </div>

        <div class="txtLargAlt">
            <h2>Largura da Etiqueta</h2>
            <input type="number" min="10" max="195" name="n1" id="txtLargura" placeholder="Mín. 10mm máx. 194mm">
        </div>
        <div class="txtLargura">
            <h2>Altura da Etiqueta</h2>
            <input type="number" min="10" max="297" name="n2" id="txtAltura" placeholder="Mín. 10mm máx. 295mm"></br>
        </div>

        <div class="calc">
            <button onclick="calcular()">Calcular</button>
        </div>
        <div class="resultado">
            <h1><a type="number" name="resultado" id="resultado">R$ 0.00</a></h1>
        </div>
        <!-- <div id="email">
            <h3></h3>
        </div> -->

        <div class="calcOption">
            <button onclick="calcularOption()">Calcular</button>
        </div>
        <div class="resultadoOption">
            <h1><a type="number" name="resultado" id="resultadoOption">R$ 0.00</a></h1>
        </div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
            data-whatever="@mdo">Enviar por Email
        </button>

        <div class="fim"></div>
    </div>



    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Enviar Cotação</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Nome (*)</label>
                            <input type="text" class="form-control" id="nome" maxlength="20" required>
                        </div>

                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Email (*)</label>
                            <input type="email" class="form-control" id="email" maxlength="40">
                        </div>

                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Telefone (*)</label>
                            <input type="number" class="form-control" id="telefone" maxlength="12" required>
                        </div>

                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Mensagem</label>
                            <input type="text" class="form-control" id="mensagem" maxlength="200">
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" onclick="emailCotacao()" class="btn btn-primary">Enviar</button>
                </div>
            </div>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>




</body>

</html>